body {
    margin: 0;
    padding: 0;
    width: 640px;
    height: 530px;
    font-size: 21px;
    font-family: Arial, "Microsoft Yahei";
    color: #FFFFFF;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
}

img {
    margin: 0;
    padding: 0;
    border: 0px;
}

table,
tr,
td,
input,
marquee {
    margin: 0px;
    padding: 0px;
}

div {
    position: absolute;
}

#tip {
    left: 120px;
    top: 200px;
    width: 440px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: yellow;
    visibility: hidden;
    z-index: 1000;
    background-repeat: no-repeat;
    background-image: url("/static/images/play_video/tip_bg.png");
}

#popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 530px;
    background-image: url(/static/images/common/popup/bg.png);
    background-repeat: no-repeat;
    visibility: hidden;
    z-index: 99;
}

#popup_info_bg {
    position: absolute;
    top: 200px;
    left: 390px;
    width: 240px;
    height: 200px;
    background-image: url(/static/images/common/popup/info_bg.png);
}

#popup_info {
    position: absolute;
    top: 330px;
    left: 470px;
    width: 280px;
    height: 49px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    z-index: 99;
}

.marquee {
    text-align: center;
    height: 20px;
    width: 93px;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 1000;
    overflow: hidden;
}

.marquee_play {
    text-align: center;
    height: 20px;
    width: 93px;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 1000;
    overflow: hidden;
}
